@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;800&family=Fraunces:wght@700;900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: bottom;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin: 0 5rem;
}
@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 6rem;
  }
}

h3 {
  font-size: 3.2rem;
  font-weight: 900;
}

h4 {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #a7abae;
}
@media only screen and (min-width: 900px) {
  h4 {
    grid-column: 1/-1;
  }
}

.text--cyan {
  color: #25564b;
}

.text--blue {
  color: #19536b;
}

.text--trans-dark-to-light {
  color: #23303e !important;
  transition: color 0.2s;
}
.text--trans-dark-to-light:hover {
  color: white !important;
}

.article {
  width: 86%;
  max-width: 50rem;
  margin: 0 auto;
  color: #23303e;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 650px) {
  .article {
    align-items: flex-start;
    text-align: left;
    width: 80%;
  }
}
.article__text {
  padding: 2.5rem 0;
  color: #818498;
  line-height: 1.5;
}
.article__learn-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.article__learn-more {
  font-family: "Fraunces", serif;
  color: #23303e;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
}

.under-line {
  width: 12rem;
  height: 0.8rem;
  position: absolute;
  top: 1.4rem;
  z-index: -1;
  border-radius: 30rem;
}
.under-line--yellow, .under-line--soft-red {
  opacity: 0.5;
  transition: all 0.2s;
}
.under-line--yellow {
  background-color: #fad400;
}
.under-line--soft-red {
  background-color: #fe7867;
}

.article__learn-more-container:hover .under-line--yellow,
.article__learn-more-container:hover .under-line--soft-red {
  opacity: 1;
}

@media only screen and (min-width: 650px) {
  .transform-your-brand {
    grid-column: 1/span 2;
    grid-row: 2/3;
  }
}

@media only screen and (min-width: 650px) {
  .stand-out {
    grid-column: 3/span 2;
  }
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (min-width: 650px) {
  .image-gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/-1;
  }
}

.poster {
  position: relative;
}
.poster__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: absolute;
  bottom: 5.5rem;
  z-index: 1;
}
@media only screen and (min-width: 400px) {
  .poster__text-container {
    bottom: 9.5rem;
  }
}
@media only screen and (min-width: 500px) {
  .poster__text-container {
    bottom: 14.5rem;
  }
}
@media only screen and (min-width: 650px) {
  .poster__text-container {
    width: auto;
    bottom: 4rem;
  }
}
@media only screen and (min-width: 750px) {
  .poster__text-container {
    bottom: -1rem;
  }
}
@media only screen and (min-width: 1000px) {
  .poster__text-container {
    width: 100%;
    bottom: 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  .poster__text-container {
    width: 100%;
    bottom: 4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .poster__text-container {
    width: 100%;
    bottom: 7rem;
  }
}
@media only screen and (min-width: 1700px) {
  .poster__text-container {
    width: 100%;
    bottom: 12rem;
  }
}
.poster__heading {
  font-size: 2.6rem;
}
.poster__text {
  line-height: 1.5;
  font-size: 1.5rem;
  padding: 2.5rem 0;
  width: 80%;
  max-width: 50rem;
}

@media only screen and (min-width: 650px) {
  .graphic-design {
    grid-column: 1/span 2;
  }
}

@media only screen and (min-width: 650px) {
  .photography {
    grid-column: 3/span 2;
  }
}

.sigle-img-container__img {
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 650px) {
  .image-transform {
    grid-column: 3/span 2;
    grid-row: 2/3;
  }
}

@media only screen and (min-width: 650px) {
  .image-stand-out {
    grid-column: 1/span 2;
  }
}

.testimonials {
  width: 86%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 6.5rem 0 8rem 0;
}
@media only screen and (min-width: 650px) {
  .testimonials {
    grid-column: 1/-1;
  }
}
@media only screen and (min-width: 900px) {
  .testimonials {
    max-width: 120rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 11rem auto 7rem auto;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 0;
}
@media only screen and (min-width: 900px) {
  .testimonial {
    padding: 3.5rem 1rem;
  }
}
.testimonial:nth-of-type(1) {
  padding-top: 6rem;
}
@media only screen and (min-width: 900px) {
  .testimonial:nth-of-type(1) {
    padding-top: 3.5rem;
  }
}
.testimonial:nth-of-type(3) {
  padding-bottom: 0;
}
.testimonial__img-container {
  height: 8rem;
  width: 8rem;
}
.testimonial__img {
  border-radius: 50%;
}
.testimonial__text {
  color: #5a636c;
  padding: 3rem 0;
}
.testimonial__name {
  font-family: "Fraunces", serif;
  color: #23303e;
}
.testimonial__job-title {
  color: #a7abae;
  font-size: 1.4rem;
  padding-top: 0.8rem;
}

.footer {
  background-color: #90d4c5;
  color: #2d7466;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0 8rem 0;
}
@media only screen and (min-width: 650px) {
  .footer {
    grid-column: 1/-1;
  }
}
.footer__logo {
  font-size: 3.5rem;
  font-weight: 800;
}
.footer__nav-list, .footer__social-icons {
  display: flex;
  list-style: none;
}
.footer__nav-link, .footer__social-link {
  color: #458c7e;
  transition: all 0.2s;
}
.footer__nav-link:hover, .footer__social-link:hover {
  color: white;
}
.footer__nav-list {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0 7rem 0;
}
.footer__nav-item {
  padding: 0 2.5rem;
}
.footer__nav-link {
  text-decoration: none;
  color: rgba(46, 118, 103, 0.7);
}
.footer__social-icon {
  padding: 0 1rem;
}
.footer__nav-link, .footer__social-icon {
  list-style: none;
}
.footer__social-link {
  color: #2d7466;
  font-size: 2rem;
}

.header {
  position: relative;
}
@media only screen and (min-width: 650px) {
  .header {
    grid-column: 1/-1;
  }
}
.header__heading-container {
  position: absolute;
  top: 15.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
@media only screen and (min-width: 1000px) {
  .header__heading-container {
    top: 22.5rem;
  }
}
.header__arrow-container {
  margin-top: 6rem;
}
.header__arrow {
  height: 10rem;
}
.header__nav {
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 2rem;
}
@media only screen and (min-width: 650px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
  }
}
.header__top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: white;
  font-weight: 800;
  font-size: 2.1rem;
}
@media only screen and (min-width: 650px) {
  .header__logo {
    font-size: 3rem;
  }
}
.header__menu-icon {
  width: 2.1rem;
  opacity: 0.6;
}
@media only screen and (min-width: 650px) {
  .header__menu-icon {
    display: none;
  }
}
.header__nav-list {
  list-style: none;
  background-color: white;
  margin-top: 5.5rem;
  padding: 3rem 0;
  position: relative;
  display: none;
}
@media only screen and (min-width: 650px) {
  .header__nav-list {
    display: inline-flex;
    background-color: transparent;
    margin-top: 0.6rem;
    padding: 0;
  }
}
.header__nav-list::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 2.5rem solid white;
  border-left: 2.2rem solid transparent;
  position: absolute;
  top: -2.5rem;
  right: 0;
}
@media only screen and (min-width: 650px) {
  .header__nav-list::before {
    content: none;
  }
}
.header__nav-link {
  text-decoration: none;
  color: #818498;
}
@media only screen and (min-width: 650px) {
  .header__nav-link {
    color: white;
  }
}
.header__nav-item {
  padding: 2rem 0;
}
@media only screen and (min-width: 650px) {
  .header__nav-item {
    align-self: center;
    margin-left: 3.5rem;
  }
}
.header__nav-item:last-of-type {
  padding: 1.3rem 2rem;
  border-radius: 30rem;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  background-color: #fad400;
  width: min-content;
  margin: 2.5rem auto;
}
@media only screen and (min-width: 650px) {
  .header__nav-item:last-of-type {
    background-color: white;
    margin-left: 3.5rem;
    transition: background-color 0.2s;
  }
  .header__nav-item:last-of-type:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.page-wrapper {
  overflow: hidden;
}
@media only screen and (min-width: 650px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
}

/*# sourceMappingURL=style.css.map */
