.header {
  position: relative;

  @media only screen and (min-width: 650px) {
    grid-column: 1 / -1;
  }

  &__heading-container {
    position: absolute;
    top: 15.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    @media only screen and (min-width: 1000px) {
      top: 22.5rem;
    }
  }

  &__arrow-container {
    margin-top: 6rem;
  }

  &__arrow {
    height: 10rem;
  }

  // // Header nav

  &__nav {
    position: absolute;
    top: 0;
    width: 100vw;
    padding: 2rem;

    @media only screen and (min-width: 650px) {
      display: flex;
      justify-content: space-between;
      padding: 4rem;
    }
  }

  &__top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: $white;
    font-weight: 800;
    font-size: 2.1rem;

    @media only screen and (min-width: 650px) {
      font-size: 3rem;
    }
  }

  &__menu-icon {
    width: 2.1rem;
    opacity: 0.6;

    @media only screen and (min-width: 650px) {
      display: none;
    }
  }

  &__nav-list {
    list-style: none;
    background-color: $white;
    margin-top: 5.5rem;
    padding: 3rem 0;
    position: relative;
    display: none;

    @media only screen and (min-width: 650px) {
      display: inline-flex;
      background-color: transparent;
      margin-top: 0.6rem;
      padding: 0;
    }
  }

  &__nav-list::before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 2.5rem solid $white;
    border-left: 2.2rem solid transparent;
    position: absolute;
    top: -2.5rem;
    right: 0;

    @media only screen and (min-width: 650px) {
      content: none;
    }
  }

  &__nav-link {
    text-decoration: none;

    color: $dark-grayish-blue;

    @media only screen and (min-width: 650px) {
      color: $white;
    }
  }

  &__nav-item {
    padding: 2rem 0;

    @media only screen and (min-width: 650px) {
      align-self: center;
      margin-left: 3.5rem;
    }

    &:last-of-type {
      padding: 1.3rem 2rem;
      border-radius: 30rem;
      text-transform: uppercase;
      font-family: "Fraunces", serif;
      background-color: $yellow;

      width: min-content;
      margin: 2.5rem auto;

      @media only screen and (min-width: 650px) {
        background-color: $white;
        margin-left: 3.5rem;
        transition: background-color 0.2s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
