.testimonials {
  width: 86%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 6.5rem 0 8rem 0;

  @media only screen and (min-width: 650px) {
    grid-column: 1 / -1;
  }

  @media only screen and (min-width: 900px) {
    max-width: 120rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 11rem auto 7rem auto;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3.5rem 0;

  @media only screen and (min-width: 900px) {
    padding: 3.5rem 1rem;
  }

  &:nth-of-type(1) {
    padding-top: 6rem;

    @media only screen and (min-width: 900px) {
      padding-top: 3.5rem;
    }
  }

  &:nth-of-type(3) {
    padding-bottom: 0;
  }

  &__img-container {
    height: 8rem;
    width: 8rem;
  }

  &__img {
    border-radius: 50%;
  }

  &__text {
    color: $very-dark-grayish-blue;
    padding: 3rem 0;
  }

  &__name {
    font-family: "Fraunces", serif;
    color: $very-dark-desaturated-blue;
  }

  &__job-title {
    color: $grayish-blue;
    font-size: 1.4rem;
    padding-top: 0.8rem;
  }
}
